<h2>Puppet Managed Node</h2>
<h4>THIS IS AN AUTOMATED EMAIL<br>
PLEASE DO NOT REPLY!</h4>
<pre>This is an automated notification
for a new server deployment. Please
check or add this system to the
appropriate security applications.
</pre><br>
<pre><b>Hostname   :</b> <%= @hostname %>
<% if @is_virtual == true %><b>Virtual    :</b> <%= @manufacturer %><% end %><% if @is_virtual == false %><b>Physical   :</b> <%= @manufacturer %><% end %>
<b>Domain     :</b> <%= @domain %>
<b>Platform   :</b> <%= @operatingsystem %> <%= @operatingsystemmajrelease %> <%= @architecture %>
<b>Network    :</b> <%= @ipaddress_eth0 %>
             <%= @netmask_eth0 %>
             <%= @macaddress_eth0 %>
<b>CPUs       :</b> <%= @processorcount %>
<b>Memory     :</b> <%= @memorysize %>
</pre>
<h4>TDS Department<br>
Williams Sonoma, Inc.<br>
Support Email: ithelpdesk@wsgc.com<br></h4>